.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Header-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
